{% extends 'base.html' %}
{% load static %}

{% block content %}

<form action="{% url 'hello' %}" method="POST">
    {% csrf_token %}
    <input class="form-control inputform form-control-lg" name="results" type="text" placeholder="Search here ... eg: Food, Art, Cat, Africa, Europe, Travel, Asia, Middle-East, Culture, Wildlife, South America"
        aria-label=".form-control-lg example">
</form>

<div class="container row gifs">

        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% for image in images %}
                <div class="row gif">
                    <img src="media/{{image.gallery_image}}" id="image-url" class="img-fluid col mb-4"
                        alt="" onclick="showModal('{{image.description}}','{{image.location}}','{{image.name}}','{{image.category}}', 'media/{{image.gallery_image}}')">
                </div>
        {% endfor %}
</div>

        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="" id="modalimage" class="img-fluid" alt="">
                        <p id="description"></p>
                        <p id="location"></p>
                        <p id="category"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="copy_url('#modalimage')" class="btn btn-secondary" data-bs-dismiss="modal">Copy Image Link</button>
                    </div>
                </div>
            </div>
        </div>

<script>

// Add Database data into modal popup
    function showModal(description, location, name, category, gallery_image) {
        $('#exampleModalLabel').text(name)
        $('#modalimage').attr('src', gallery_image)
        $('#description').html(`<strong>Description:</strong> ${description}`)
        $('#location').html(`<strong>Location:</strong> ${location}`)
        $('#category').html(`<strong>Category:</strong> ${category}`)
        $('#exampleModal').modal('show');
    } 

    // Copy functionality on click
    function copy_url(element) {
        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(baseUrl + $(element).attr('src')).select();
        document.execCommand("copy");
        alert("Copied!");
        $temp.remove();
    }  

</script>

{% endblock %}
