.modal-content {
  border: 7px solid #fca311 !important; 
}

.btn {
    background-color: #fca311 !important;
}

#exampleModalLabel {
    font-family: 'Gideon Roman', cursive !important;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

.gifs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 200%;
  margin:0 auto;
  margin-top: 5%;
}

.gif img {
  max-width: 200%;
  cursor: pointer;
}